<div class="layout-container">
  <app-top-nav (sideNavToggled)="snav.toggle()"></app-top-nav>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="toolBarHeight">
    <mat-sidenav #snav class="sidenav mat-elevation-z10 visible-md" [(mode)]="sideNavMode" [(opened)]="sideNavOpened">
      <app-side-nav></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <main class="main-container">
        <router-outlet></router-outlet>        
      </main>
      <footer class="md-padding">
        <div class="rx-footer">
          <div class="left-content">Copyright 2019 Comprehensive Pharmacy Services</div>
          <div class="right-content"><img src="assets/images/hipaa.jpg" class="footer-logo-1"/><img src="assets/images/comprehensive-pharmacy.jpg" class="footer-logo-2"/></div>
      </div>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <!-- <app-footer></app-footer> -->
</div>

